<p id="notice"><%= notice %></p>

<section class="container-fluid" id="about-header">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>A little bit <strong>about me</strong></h1>
        </div>
    </div>
</section>

<section class="container-fluid" id="about-content">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6 panel">
            <p>I am a full-stack developer with experience providing responsive
            websites and web applications, awesome user experience, and also author and sale WordPress Themes.</p>
            <p>Clients often approach me when they need someone with the
            following skills:</p>
            <dl>
              <dt>Front-end Development</dt>
              <dd class="indent">HTML</dd>
              <dd class="indent">CSS</dd>
              <dd class="indent">JavaScript
                <ul class="list-unstyled">
                    <li class="indent">jQuery</li>
                    <li class="indent">AngularJS</li>
                </ul>
              </dd>
            </dl>

            <dl>
              <dt>WordPress Development</dt>
              <dd class="indent">Themes</dd>
              <dd class="indent">Admin/Plugin Setup</dd>
              <dd class="indent">Custom Functionality</dd>
            </dl>

            <dl>
              <dt>Back-end Development</dt>
              <dd class="indent">Ruby on Rails</dd>
              <dd class="indent">PHP &amp; Laravel</dd>
              <dd class="indent">Python &amp; Django</dd>
            </dl>

            <p>The work I provide is of the highest quality, fully responsive,
            and tested on a wide range of devices. I take great care to
            ensure each project is well-documented and easily maintainable
            so you can enhance your website as your company grows.</p>

            <h2>Skills</h2>
            <p>I have many years experience as a full-stack developer</a>, creating
            responsive websites using HTML, CSS, and JavaScript, and 
            using a number of languages, frameworks, and technologies on the back-end.</p>

            <p>In my past experience as a freelancer I have also obtained an eye for detail and
            appreciation for design, knowledge of integrating with and
            developing server-side, as well as knowing how to efficiently
            manage projects and work with clients and colleagues
            successfully.</p>

            <p>I specialise in WordPress
            integrations and Ruby on Rails applications but my knowledge of multiple fields allows me
            to work on a project with the full scope in mind; simplifying
            the process of our working together and producing a more
            cohesive experience for your users.</p>

            <p>I create responsive websites that allow the user to
            experience your website in the best and most appropriate way
            suited to the device they are using. By working using
            progressive enhancement, your website is delivered with a
            responsive layout that can best make use of the space available
            on the smallest to largest devices. Cross browser compatibility
            is ensured by using feature detection so older browsers still
            in use today provide a solid experience, while modern browsers
            can go the next step and enhance a users time spent on
            your site.</p>

            <p>Writing semantic markup that is documented and easy to read
            means it can be maintained and scaled in the future, and allows
            co-workers to quickly work with it.</p>

            <p>Rather than create websites on a page-by-page basis, I
            instead consider each element of your screen-based designs as
            separate components that can exist elsewhere on a website;
            outside of the context of your design compositions. With these
            components I produce a style guide that acts as a document for
            a reusable and maintainable code base. Everyone involved in a
            project can rely on a style guide to understand a
            projects language and produce a more consistent user
            experience.</p>

            <p>My front-end build process involves the use of tools such as
            Sass, Grunt, Gulp, Bower, and NPM to speed up development.</p>

            <p>I can quickly and efficiently join your team using
            continuous-integration with methods and tools such as Git,
            Jenkins, Agile/Scrum, and test/behaviour driven
            development.</p>

            <h3>WordPress Developer</h3>
            <p>In many projects, clients require the ability to
            manage the content of their website. To do this, I integrate
            front-end templates into WordPress themes and offer custom
            functionality via PHP.</p>

            <h3>Design</h3>
            <p>I convert designs to high-performance code while respecting
            your designers compositions. I consider design to be
            just as important as development and aim to combine both to
            produce high quality user experience.</p>

            <p>I have many years experience with Adobe Products; Photoshop,
            Illustrator, and Fireworks, as well as open-source alternatives like Inkscape and Gimp. My preferred design application for
            creating mockups and wireframes is Sketch.</p>

            <h2>Learn More</h2>
            <p>If you'd like to find out more about how I work and my
            process of working with clients, please visit the <%= link_to 'quote page', quote_path %> and give a little information about the
            project you have in mind. I'll send a Getting Started
            guide that answers many of the common questions I receive from
            potential clients. We can then set up a call to discuss how I
            can be of most value to your project.</p>
        </div>
        <div class="col-lg-3"></div>
    </div>
</section>